@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,315;1,315&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

    
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #000000, #434343);
}

nav {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #1A1A1A;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.nav-menu li {
    display: inline;
    margin-right: 40px;
}

nav ul.nav-menu li a:hover {
    color: white;
    border-bottom: 1px solid #FFDF56; 
    padding-bottom: 5px; /* Ajustando o espaçamento abaixo do texto */
    margin-bottom: 5px; /* Ajustando o espaçamento abaixo da linha */
}

nav ul li {
    color: #FFDF56;
    list-style: none;
    padding: 40px;
    cursor: pointer;
    font-family:  'Josefin Sans', sans-serif;
}

nav ul li a {
    color: var(--yellow);
    text-decoration: none;
}

img {
    height: 70px;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background: #FFDF56;
    margin: 4px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: #FFDF56;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #FFDF56;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #FFD700;
}

.form-container p {
    margin-top: 10px;
}

.form-container p a {
    color: #FFDF56;
    text-decoration: none;
}

.form-container p a:hover {
    text-decoration: underline;
}


@media  (max-width:750px) {
    /* MENU RESPONSIVO */
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 64px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: #1A1A1A;
        gap: -10px;
        transition: 0.3s;
        z-index: 10001;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin-top: 30px;
        margin: 10px;
        margin-bottom: -25px;
    }
}