@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,315;1,315&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');



#map {
    position: relative;
    height: 800px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0; /* Removendo a margem inferior */
}

.search-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    width: 200px!important;   
}

#location-input {
    width: 300px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    margin-top: 10px;
    margin-left:10px ;
}

#location-input::placeholder {
    font-size: 14px;
    color: #999;
}

#parking-info {
    position: fixed;
    bottom: 80px; /* Ajuste este valor para mover o elemento para cima */
    left: 20px;
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
    z-index: 1000; /* Certifique-se de que o z-index seja alto o suficiente para que o elemento fique acima de outros conteúdos */
}

#parking-info strong {
    font-weight: bold;
    font-size: 16px;
    color: #222;
}

#parking-info button {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-top: 10px;
    background-color: #FFDF56;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#parking-info button:hover {
    background-color: #FFDF56;
}

#parking-info span {
    display: block;
    margin-bottom: 5px;
}

body {
    background-color: #000000;
}

nav {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #1A1A1A;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul.menu-normal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.menu-normal li {
    display: inline;
    margin-right: 20px;
}

nav ul.menu-normal li a:hover {
    color: white;
    border-bottom: 1px solid #FFDF56; 
    padding-bottom: 5px; /* Ajustando o espaçamento abaixo do texto */
    margin-bottom: 5px; /* Ajustando o espaçamento abaixo da linha */
}

nav ul li {
    color: #FFDF56;
    list-style: none;
    padding: 40px;
    cursor: pointer;
    font-family:  'Josefin Sans', sans-serif;
}

nav ul li a {
    color: var(--yellow);
    text-decoration: none;
}

img {
    height: 55px;
}

h1{
    font-size: 20;
    font-family: Lato;
    margin: 0;
    color: #f0f0f0;
} 

#estacionamentos-proximos {
    padding: 20px;
    background-color: #1A1A1A;
}

#estacionamentos-proximos h2 {
    color: #FFDF56;
}

.lista-estacionamentos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.lista-estacionamentos-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinhar conteúdo à esquerda */
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.selecionar-btn {
    display: block; /* Tornar o botão um elemento de bloco */
    margin: 0 auto; /* Centralizar horizontalmente */
    background-color: black; /* Cor de fundo preta */
    color: #FFDF56; 
    border: none; /* Remover borda */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 70px; /* Espaçamento interno */
    cursor: pointer; /* Cursor ao passar sobre o botão */
    margin-top: 10px; /* Espaçamento acima do botão */
    font-size: larger;
}
