@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,315;1,315&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

    
body {
    background-color: #000000;
}

nav {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #1A1A1A;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.nav-menu li {
    display: inline;
    margin-right: 40px;
}

nav ul.nav-menu li a:hover {
    color: white;
    border-bottom: 1px solid #FFDF56; 
    padding-bottom: 5px; /* Ajustando o espaçamento abaixo do texto */
    margin-bottom: 5px; /* Ajustando o espaçamento abaixo da linha */
}

nav ul li {
    color: #FFDF56;
    list-style: none;
    padding: 40px;
    cursor: pointer;
    font-family:  'Josefin Sans', sans-serif;
}

nav ul li a {
    color: var(--yellow);
    text-decoration: none;
}

img {
    height: 70px;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background: #FFDF56;
    margin: 4px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: #FFDF56;
}


.container{
    display: inline-flex;
    flex-direction: column; /* Define a direção da flexbox como coluna */
    align-items: center; /* Alinha os itens verticalmente */
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -10px;
    font-size: 30;
}   

.container-bloco{
    display: inline-flex;
    flex-direction: column; /* Define a direção da flexbox como coluna */
    align-items: center; /* Alinha os itens verticalmente */
    width: 100%;
    margin-top: -10px;
    font-size: 30;
}   

.bloco-branco{
    position: absolute;
    top: 230px; 
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 230px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.opcao button {    
    display: inline-block; /* Coloca os botões um ao lado do outro */
    margin-right: 20px; /* Aumenta o espaço entre os botões */
    background-color: rgb(255, 255, 255); /* Remove o plano de fundo */
    cursor: pointer; /* Cursor */
    font-size: 16px; /* Tamanho da fonte */
    padding: 10px 15px; /* Espaçamento interno */
    border: 0px solid; /* Borda amarela */
    border-radius: 6px; /* Arredonda a borda */
    margin-top: 30px;
    font-family: lato;
    font-weight: bold;
    font-size: 20px;
}

.opcao button:hover {
    background-color: #FFDF56; 
}


h1{
    font-size: 20;
    font-family: Lato;
    margin: 0;
    color: #f0f0f0;
}        
h2{
    padding-top: 10px;
    background-color: #FFDF56;
    font-size: 20;
    font-family: Lato;
    margin: 0;
    color: #000000;
}

.espaco{
    padding-bottom: 90px;
    position: absolute;
    padding-top: 20px;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 224, 86); /* cor do quadrado com transparência */
}
        

.texto {
    position: absolute;
    top: 81.7px; /* Afasta 20 pixels do topo */
    width: 95.8rem;
    height: 95px;
    background-color: rgba(255, 227, 68, 0.7);
    padding: 50px;
	padding-left: 5px;
}
            
	       
.texto1 {
    position: a;
    background-color: rgba(255, 223, 86);
    padding: 200px; /* Reduza o padding para evitar que o quadrado fique muito grande */
    padding-left: 50px ;
    padding-right: 50px;
}

.texto2 h2 {
    margin: 0; /* Remova as margens padrão do h2 */
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quadrado {
    text-align: center;
    color: #fff8f8;
    font-family: "Lato", sans-serif;
    margin-bottom: 20px;
}

.textos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Para que os elementos quebrem a linha se não couberem horizontalmente */
}

.textos h3 {        
    font-size: 30px;
    font-weight: bolder;
    font-family: "Lexend Exa", sans-serif;
    margin-top: 30px;
    margin-right: 10px; /* Ajuste o espaçamento entre os elementos conforme necessário */
}
.amarelo {
    color: #FFDF56;
}


.testimonial-image,.testimonial-image2 {
    width: 1000px; 
    height: 300px;
}

.testimonial-image {
    margin-right: 29px; 
}

/* BLOCO INICIAL - PESQUISA */

.bloco-amarelo {
    position: absolute;
    top: 120px; 
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 380px;
    background-color: #FFDF56; /* cor do quadrado com transparência */
    border-radius: 8px;
    box-shadow: 5px 5px 10px #1A1A1A; /* sombra na parte inferior direita */
}
 
.text1 {
    margin-top: 17px;
    font-size: 29px;
    font-family: Lato, sans-serif;
    text-align: center;
    color: #000000;
}

.text2 {
    margin-top: -30px; /* Ajuste negativo para aproximar do texto1 */
    font-size: 27px;
    font-family: Lato, sans-serif;
    font-weight: bold; /* Definir como negrito */
    text-align: center;
    color: #000000;
}

.garagem-img{
    width: 100%;
    height: 500px;
}

.garagem-mobile{
    display: none;
}

.h2 {
    margin: 0 auto; /* Define margens automáticas nos lados esquerdo e direito */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Cria colunas com tamanho mínimo de 200px e se ajustando conforme o espaço disponível */
    grid-gap: 15px; /* Espaçamento entre os itens */
}

.item {
       
    color: black;
    font-size: 20PX;
    padding: 10px;
    padding-top: 50px;
    text-align: center;
    font-family: LATO ;
    border-radius: 8px;
}

.map-img{
    width: 40px; /* Define a largura desejada */
    height: 30px; /* Mantém a proporção da altura em relação à largura */
    padding-top: 30px;
    padding-right: 10px;
    padding: center;
}

h6{
    padding-top: 13px;
    font-size: 20px;
	font-family: Lato;
    align-items: center;
    text-align: center;
	
}

.map-img2{
    width: 50px; 
    height: 40px; 
    padding-top: 30px;
    padding-right: 10px;
    align-items: center;
    padding: center;
}

.map-img3{
    width: 50px; 
    height: 40px; 
    padding-top: 30px;
    padding-right: 10px;
    align-items: center;
    padding: center;
}

.map-img4{
    width: 50px; 
    height: 40px; 
    padding-top: 30px;
    padding-right: 10px;
    align-items: center;
    padding: center;
}

.texto5 {
      
    display: flex;
    
    width: 60%; 
    max-width: 800px; 
    padding-top: 2px;
    padding-left: 20px;
    align-items: center;  
}

.map-img5 {
    width: 450px; 
    height: 420px; 
    margin-left: 1300px; 
    margin-top: 50px; 
    padding-top: 20px;     
}
.textao{
    font-size: 34px;
    font-family: lato;
    width: calc(85% - 350px); 
    text-align: center;
    line-height: 1.5;
    color: #f0f0f0;
    margin-left: -600px;
    margin-top: -370px; 
    flex: 1;
    padding: 0 25px;
    
}

.saiba-mais-btn {
    background-color: #FFDF56; 
    color: #000000; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
    text-align: center;
    margin-left:-600px;
    margin-top: -200px;
       
}
    
.saiba-mais-btn:hover {
    background-color: #e9bb03a9; 
}

.text-square {       
    color: #f0f0f0;
    padding-left: 190px;
    width: 100px;
    padding-top: 0px; 
    line-height: 1.5; 
}
   
.quadrado1 {
    font-size: 30px;
    font-family: "Lexend Exa", sans-serif;
    font-weight: bolder;
    color: #f0f0f0;
    margin-left: 70px;
    margin-top: -60px;
    }    

.h9{
    color: #f0f0f0;
    font-family: lato;
    font-size: 20px;
}

.map-img9{
    height: 150px;
    width: 350px;
    border-radius: 10px;
}

.map-img10{
    border-radius: 10px;
    height: 150px;
    width: 350px;

}

.map-img11{
    height: 150px;
    width: 350px;
    border-radius: 10px;
}

.search-box {
    width: 50%; /* Largura para telas maiores */
    margin: 0 auto; /* Centraliza a search-box */
}

.search-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.search-box input[type="text"] {            
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%; /* Largura total do contêiner pai */
    color: #333; /* Cor do texto dentro do campo de texto */
}

.search-box button {
    background-color: black; 
    color: #FFDF56; /* Cor do texto do botão */
    border: none; 
    padding: 10px 30px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.search-box button:hover {
    background-color: #68665a; 
}


.linha-img{

    height: 2px;
    width: 900px;
    padding: center;
    align-items: center;

}
 
.map-img20 {
    width: 100%;
    height: auto;
}

.avaliacao{
    margin-left: 40px;
    width: auto;
    height: 90px;
}


.footer {
    margin-top: -30px;
    background-color: black; /* Cor de fundo do footer */
    color: #fff; 
    text-align: center; /* Centralizar o texto do footer */
    background: black;
  }
  
  .footer-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 0 auto;
      background-color: black;
  }
  
  .footer-column {
      width: 25%;
      padding-top: 15px; 
      text-align: left; /* Alinhar o texto à esquerda */
      margin-left: -11%
  }
  
  .footer-column h9 {
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 15px; /* Adicionei um margin-bottom para separar os títulos das listas */
  }
  
  .contact-info {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  .contact-info li {
      display: flex;
      align-items: center;
      margin-bottom: 10px; /* Espaçamento entre os itens */
  }
  
  .contact-info li img {
      margin-right: 10px;
  }a
  
  .footer-column ul {
      list-style-type: none;
      padding: 0;
  }
  
  .footer-column li {
      margin-bottom: 10px;
  }
  
  .footer-column p {
      margin: 0; /* Removi o margin-top para os parágrafos dentro das colunas */
      font-family: 'Arial', Helvetica, sans-serif;
  }
  
  .footer-bottom {
      background-color: #FFDF56; 
      text-align: center;
      padding: 3px 0;
      color: black;
      margin-top: 2%;
  }

  /* RESPONSIVO TELAS A AJUSTAR */

  @media  (max-width:845px) {
    /* MENU RESPONSIVO */
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 64px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: #1A1A1A;
        gap: -10px;
        transition: 0.3s;
        z-index: 10001;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin-top: 30px;
        margin: 10px;
        margin-bottom: -25px;
    }

    .garagem-img{
        display: none;
    }

    .garagem-mobile{
        display: block;
        width: 100%;
        height: 100%;
    }

    .bloco-amarelo{
        display: none;
    }

    .bloco-branco{
        position: absolute;
        top: 40%;
        width: 90%;
        height: 49%;
        background-color: transparent;
        border-radius: 8px;
    }

    .container-bloco{
        display: inline-flex;
        flex-direction: column; /* Define a direção da flexbox como coluna */
        align-items: center; /* Alinha os itens verticalmente */
        width: 100%;
    }   

    .opcao button {    
        display: inline-block; /* Coloca os botões um ao lado do outro */
        margin-right: 8px; /* Aumenta o espaço entre os botões */
        padding: 8px 15px; /* Espaçamento interno */
        border: 0px solid; /* Borda amarela */
        border-radius: 20px; /* Arredonda a borda */
        margin-top:  3%;
        font-family: lato;
        font-size: 100%;
    }

    .opcao button:hover {
        background-color: #FFDF56; 
    }

    /* AJUSTAR O BOTÃO DE PESQUISA */

    .search-box{
        margin-top: 8%;
        width: 87%;
    }

    .search-box button {
        margin-top: -220px;
        padding: 10px 80px; 
        font-size: 19px; 
        cursor: pointer; 
        border-radius: 10px;
    }

    .textos h3{
        font-size: 120%;
    }


  }